/* ENTER TRANSITION */
/* Declare transition start properties*/
.slide-enter {
  opacity: 0;
  transform: translateY(10%);
  transition: 0.5s cubic-bezier(0, 1, 0.5, 1);
  
}

/* Declare transition properties */
.slide-enter.slide-enter-active {
  opacity: 1;
  transform: translateY(0%);
}

/* EXIT TRANSITION */
.slide-exit {
  opacity: 1;
  transform: translateY(0%);
  transition: 0.5s cubic-bezier(1, 0, 1, 0.5);
}

.slide-exit.slide-exit-active {
  opacity: 0; 
  transform: translateY(50%);
}