.menu-custom {
  position: absolute;
  padding: 15px;
  background: #fff;
  -webkit-box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.175);
  z-index: 100;
  top: 100%;
  min-width: 200px;
  /* opacity: 0; */
  /* visibility: hidden; */
  /* -webkit-transition: 0.3s all;
  transition: 0.3s all; */
  width: auto;
  min-width: 750px;
  max-width: 100%;
  border-top: 2px solid #f8694a;
  left: 0;
}


.list-links li>a {
  position: relative;
    display: inline-block;
    text-transform: uppercase;
    padding: 2px 0px;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
    color: #30323A;
}