a {
  color: unset;
}

.non-link {
  color: unset;
  text-decoration: none
}
.non-link:hover {
  color: unset;
  text-decoration: none
}

.product-single {
  margin-left: 15px;
  margin-right: 15px;
}