.w-full {
  width: 100% !important;
}

.flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.pl-20 {
  padding-left: 20px
}

.font-14 {
  font-size: 14px
}